body {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    text-align: center;
    padding: 10px;
}

.clothing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.clothing-item {
    flex: 0 1 calc(30% - 10px); /* Adjust item width as needed */
    margin-bottom: 20px;
    text-align: center;
}

.clothing-item img {
    max-width: 100%;
    height: auto;
}

